* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --play-time: 500ms;
}

body {
  position: relative;
  height: 100vh;
}

.container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  bottom: 0;
  padding: 10px;
  height: 70px;
  overflow: hidden;
}

.container .menu {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 50px;
  right: calc(100vw/2 - 50px / 2);
  overflow: hidden;
  background-color: #4ad6bd;
  border-radius: 35px;
  z-index: 100;
  width: 50px;
  right: calc(100vw/2 - 50px / 2);
  transition-property: width, right;
  transition-timing-function: ease-in-out;
  transition-duration: var(--play-time);
}

button {
  background-color: #4ad6bd;
  border-radius: 35px;
  border: none;
  padding: 10px;
}

.bg-icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.container button .search {
  background-image: url(./images/search.png);
}

.container button .new-message {
  background-image: url(./images/new-message.png);
}

.container .menu button .plus {
  background-image: url(./images/plus.png);
}

.container .menu button .navigate {
  background-image: url(./images/navigate.png);
}

.container .menu button .profile {
  background-image: url(./images/profile.png);
}

.container .menu button .messages {
  background-image: url(./images/messages.png);
}

.container .menu button .setup {
  background-image: url(./images/setup.png);
}

#button1 {
  background-color: #00a385;
  position: absolute;
  left: 20px;
  transform: rotate(0deg);
  left: 20px;
  transition-duration: var(--play-time);
  transition-timing-function: ease-in-out;
  transition-property: transform, left;
}

#button2 {
  background-color: #00a385;
  position: absolute;
  right: 20px;
  transform: rotate(0deg);
  right: 20px;
  transition-duration: var(--play-time);
  transition-timing-function: ease-in-out;
  transition-property: transform, right;
}

#plus {
  transition: transform var(--play-time) ease-in-out;
  transform: rotate(0deg);
}

.container.expand #button1 {
  transform: rotate(-360deg);
  left: -40px;
}

.container.expand #button2 {
  transform: rotate(360deg);
  right: -40px;
}

.container.expand .menu {
  width: 300px;
  right: calc(100vw/2 - 300px / 2);
}

.container.expand #plus {
  transform: rotate(-315deg);
}
